{{#each chocolate}}
<div>
<row class = "col-md-10">
  <table class="table">
    <thead>
      <tr>
        <th>Flavor</th>
        <th>Satisfaction Level</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{flavor}}</td>
        <td>{{satisfactionlevel}}</td>
      </tr>
    </tbody>
  </table>
  </row>
</div>
{{/each}}
